*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}
body{
    background: #fefefe;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-radius: 50px;
    margin-top: 10px;
}
.fa-solid{
    color: #3c151e;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #3c151e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    overflow: hidden;
    display: flex;
    color: #3c151e;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.nav-bar ul li a span{
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar ul li a i{
    align-items: center;
    margin-top: 3px;
}
.nav-bar ul li a:hover span{
    margin-left: 15px;
    opacity: 1;
    width: 70px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background-color: #fefefe;
}
.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}
.nav-bar ul li a.active span{
    opacity: 1;
}

.description{
    text-align: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}
.description h3{
    font-size: 18px;
    padding-top: 20px;
    font-family: LatoLatinWeb, sans-serif;
    color: #4e5b6a;
}
.description h1{
    font-size: 24px;
    line-height: 1.3;
    font-family: LatoLatinWeb, sans-serif;
    color: #4e5b6a;
}
.description h4{
    margin-top: 5px;
    padding-top: 0;
    color: #08b5e5;
    text-transform: uppercase;
    font-family: LatoLatinWeb, sans-serif;
}
.container{
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider{
    position: absolute;
    inset: 30px 300px 80px 300px;
    background: #ccc;
    border-radius: 20px;
}
.slider .slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.slider .slides:nth-child(1)

{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}
.slider .slides:nth-child(2){
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slides:nth-child(3)
{
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slides:nth-child(4)
{
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slides:nth-child(5)
{
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}
.buttons
{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 51%;
}
.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}
.buttons span:nth-child(2)::before{
    transform: rotate(135deg) translate(2px, 2px);
}
.buttons span:active{
    opacity: 0.5;
}
.content{
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
}
.content h2{
    font-size: 4em;
    color: #fff;
}
.content p{
    color: #fff;
}
.slider .slides:nth-child(1) .content
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.contentCards{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    margin: 10px;
}
.card {
    width: 190px;
    background: rgb(158, 158, 158);
    padding: .4em;
    border-radius: 6px;
  }
  
.card-image {
    background: var(--img);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
    background-size: cover;
    background-position: center;
}
  
.card-image:hover {
    transform: scale(0.98);
}
  
.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}
  
.category:hover {
    cursor: pointer;
}
  
.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}
  
.heading:hover {
    cursor: pointer;
}
  
.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}
  
.name {
    font-weight: 600;
}
  
.name:hover {
    cursor: pointer;
}
.carrousel{
    display: flex;
    width: 900px;
    height: 430px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
}
.carrousel img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.carrousel img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
}
.personalization{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
  }
  
  .radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  .radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
  }
  
  .radio-tile:hover {
    border-color: #2260ff;
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-icon img {
    width: 2rem;
    height: 2rem;
    fill: #494949;
  }
  
  .radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.grid-item1{
    align-items: center;
    justify-content: center;
    display: flex;
}
.optionsPersonalization{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.optionsPersonalization div{
    position: absolute;
    display: none;
}
.optionsPersonalization div button{
    background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.optionsPersonalization div button:hover {
    background-color: #f9fafb;
  }
  
  .optionsPersonalization div button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
  }
  
  .optionsPersonalization div button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        cursor: pointer;
        width: 150px;
        height: 50px;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
    }
    .hamburger .icon {
        position: absolute;
        height: 40px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
      }
      .hamburger .text {
        transform: translateX(55px);
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: #3c151e;
        transition: all 0.5s;
      }
      
      .hamburger:hover .icon {
        transform: translateX(55px);
      }
      
      .hamburger:hover .text {
        opacity: 0;
      }
      
      .hamburger:focus {
        outline: none;
      }
      
      .hamburger:active .icon {
        transform: scale(0.1);
      }


    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #dd969c;
        transition: 0.5s;
        overflow: hidden;
        z-index: 1000000;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
    
    .slider{
        margin-top: 10px;
        inset: 40px 40px 250px 40px;
    }

    .slider .slides{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
    .slider .slides:nth-child(1){
        top: initial;
        bottom: 0px;
    }
    .slider .slides:nth-child(2){
        left: 0;
    }
    .slider .slides:nth-child(3){
        left: 120px;
    }
    .slider .slides:nth-child(4){
        left: 240px;
    }
    .slider .slides:nth-child(5){
        left: 360px;
    }
    .carrousel{
        display: flex;
        width: 450px;
        height: 430px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    
}
@media only screen and (max-width: 600px){
    .contentCards{
        flex-direction: column;
    }
    .card {
        width: 350px;
      }
      .radio-inputs {
        flex-wrap: wrap;
      }
}